<div
  id="js-timer"
  class="timer"
  role="timer"
  aria-label="A timer, counting down to {{ eventName }}"
  data-endtime="2023-07-30T02:00"
>
  <span class="timer__item" id="timer-days">
    <span class="timer__label timer__label-days">d</span>
    <span class="timer__value">{{ days }}</span>
  </span>
  <span class="timer__item" id="timer-hours">
    <span class="timer__label">hod</span>
    <span class="timer__value">{{ hours }}</span>
  </span>
  <span class="timer__item" id="timer-minutes">
    <span class="timer__label">min</span>
    <span class="timer__value">{{ minutes }}</span>
  </span>
  <span class="timer__item" id="timer-seconds">
    <span class="timer__value h1">{{ seconds }}</span>
    <span class="timer__label">vteřiny</span>
  </span>
</div>
